/* ------------------------------------------------------------ *\
 Aside
\* ------------------------------------------------------------ */

.aside {
    flex: 0 0 25%;
    max-width: 25%;
    padding-right: 2.4rem;

    @include breakpoint-down(tablet) {
        max-width: 100%; 
        padding-right: 0;  
        margin-bottom: 2.7rem;
    }

    .aside__trigger {
        display: none;

        @include breakpoint-down(tablet) {
            display: block;
            text-decoration: none;
            background-color: $c-red;
            color: $c-white;
            padding: .7rem 1rem .7rem;
            border-radius: .5rem;
            text-align: center;
            font-weight: 700;
            text-transform: uppercase;
        }
    }

    .widgets {
        @include breakpoint-down(tablet) {
            transition: opacity $t-duration, visibility $t-duration, transform $t-duration;
            opacity: 0;
            visibility: hidden;
            position: fixed;
            transform: translateX(-100%);
            top: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: $c-white;
            overflow-y: auto;
            overflow-x: hidden;
            z-index: 105;
            padding: 1.4rem #{$shell-gutter-mobile} 3rem;
        }

		&.is-open {
            @include breakpoint-down(tablet) {
                opacity: 1;
                visibility: visible;
                transform: translateX(0);
            }
		}

        .widgets__trigger {
            margin-bottom: 1.6rem;
        }
    }
}