/* ------------------------------------------------------------ *\
 Paging
\* ------------------------------------------------------------ */

.paging {
    ul {
        list-style-type: none;
        display: flex;
        justify-content: center;
        margin: 0 -.8rem;

        @include breakpoint-down(tablet) {
            margin: 0 -.5rem;
        }
    }

    li {
        padding: 0 .8rem;

        @include breakpoint-down(tablet) {
            padding: 0 .5rem;
        }
    }

    li:not(.paging__arrow) a {
        color: $c-base;
        background-color: $c-gray;
    }

    li.is-current:not(.paging__arrow) a {
        color: $c-white;
        background-color: $c-red;
    }

    li.paging__arrow {
        margin: 0 .9rem;

        @include breakpoint-down(tablet) {
            margin: 0 .5rem;
        }
    }

    li.paging__arrow a {
        background-color: $c-white;
        color: $c-red;
        border: 2px solid $c-red;
    }

    li.paging__arrow.is-disabled a {
        border-color: $c-gray;
        color: $c-gray;
        pointer-events: none;
    }

    li:not(.is-disabled) a:hover {
        @include breakpoint-up(tablet) {
            color: $c-white;
            background-color: $c-red;
        }
    }

    li a {
        transition: color $t-duration, background-color $t-duration;
        border-radius: .8rem;
        width: 4rem;
        height: 4rem;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;

        @include breakpoint-down(large-desktop) {
            width: 3.4rem;
            height: 3.4rem;
		}

        @include breakpoint-down(small-desktop) {
            width: 3rem;
            height: 3rem;
        }

        @include breakpoint-down(tablet) {
            width: 2.8rem;
            height: 2.8rem;
        }
    }
}