<footer class="footer">
        <div class="footer__inner">
            <div class="shell">
                <div class="footer__cols">
                    <div class="footer__col">
                        <div class="footer__content">
                            <h3>За Нас</h3>

                            <p>AspiratorBG е специализиран онлайн магазин за уреди за вграждане (аспиратори, фурни, стъклокерамични плотове, мивки, хладилници, съдомиялни …)</p>
                        </div><!-- /.footer__content -->
                    </div><!-- /.footer__col -->
                    <div class="footer__col">
                        <div class="footer__content">
                            <h3>Полезни линкове</h3>

                            <ul>
                                <li>
                                    <a href="#">Начало</a>
                                </li>
                                
                                <li>
                                    <a href="#">Категории</a>
                                </li>
                                
                                <li>
                                    <a href="#">За Нас</a>
                                </li>
                                
                                <li>
                                    <a href="#">Новини</a>
                                </li>
                                
                                <li>
                                    <a href="#">Контакти</a>
                                </li>
                            </ul
                            >
                        </div><!-- /.footer__content -->
                    </div><!-- /.footer__col -->
                    <div class="footer__col">
                        <div class="footer__content">
                            <h3>Информация</h3>

                            <ul>
                                <li>
                                    <a href="#">Условия за доставка</a>
                                </li>
                                
                                <li>
                                    <a href="#">Условия за ползване</a>
                                </li>
                                
                                <li>
                                    <a href="#">Политика на поверителност</a>
                                </li>
                            </ul
                            >
                        </div><!-- /.footer__content -->
                    </div><!-- /.footer__col -->
                    <div class="footer__col">
                        <div class="footer__content footer__content--contacts">
                            <h3>Информация</h3>

                            <ul>
                                <li>
                                    <a href="mailto:OFFICE@ASPIRATOR.BG">
                                        <figure>
                                            <img src="../src/assets/images/ico-mail-white.svg" alt="">
                                        </figure>

                                        OFFICE@ASPIRATOR.BG
                                    </a>
                                </li>
                                
                                <li>
                                    <a href="tel:+0882623831">
                                        <figure>
                                            <img src="../src/assets/images/ico-tel-white.svg" alt="">
                                        </figure>

                                        0882 62 38 31
                                    </a>
                                </li>
                                
                                <li>
                                    <a href="https://www.Aspirator.bg">
                                        <figure>
                                            <img src="../src/assets/images/ico-facebook-white.svg" alt="">
                                        </figure>

                                        Aspirator.bg
                                    </a>
                                </li>
                            </ul
                            >
                        </div><!-- /.footer__content -->
                    </div><!-- /.footer__col -->
                </div><!-- /.footer__cols --> 
            </div><!-- /.shell -->
        </div><!-- /.footer__inner -->

        <div class="footer__bar">
            <div class="shell">
                <div class="footer__copyright">
                    <p>Изработено от</p>
                    
                    <a href="#">
                        <img src="../src/assets/images/logo-rocket@2x.png" alt="" width="71" height="21">
                    </a>
                </div><!-- /.copyright -->
            </div><!-- /.shell -->
        </div><!-- /.footer__bar -->
</footer><!-- /.footer -->
