<header class="header js-header">
    <div class="shell">
        <div class="header__inner">
            <div class="header__utilities">
                <a href="#" class="header__logo">
                    <img src="../src/assets/images/logo.svg" alt="">
                </a><!-- /.header__logo -->
                <div class="header__aside">
                    <a href="#" class="btn-icon">
                        <span>1</span>

                        <img src="../src/assets/images/ico-heart.svg" alt="">
                    </a><!-- /.btn-icon -->
                    <div class="cart-btn">
                        <a href="#" class="btn-icon">
                            <span class="is-red">2</span>

                            <img src="../src/assets/images/ico-cart.svg" alt="">
                        </a><!-- /.btn-icon -->

                        <div class="cart__entry">
                            <span>Кошница</span>
                            <p><span>599<sup>00</sup></span>лв.</p>
                        </div><!-- /.cart__entry -->
                    </div><!-- /.cart-btn -->
                    <a href="" class="nav-trigger js-nav-trigger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </a><!-- /.nav-trigger js-nav-trigger -->
                </div><!-- /.header__aside -->
            </div><!-- /.header__utilities -->
            <div class="header__nav js-nav-holder">
                <div class="header__bar">
                    <div class="header__contacts">
                        <a href="mailto:office@aspirator.bg">
                            <img src="../src/assets/images/ico-mail.svg" alt="">

                            OFFICE@ASPIRATOR.BG</a>
                        <a href="tel:0882623831">
                            <img src="../src/assets/images/ico-phone.svg" alt="">

                            0882 62 38 31</a>
                    </div><!-- /.header__contacts -->
                    <div class="header__bar-aside">
                        <div class="select-icon">
                            <img src="../src/assets/images/ico-globe.svg" alt="">
                            <select name="nav-lang" id="nav-lang">
                                <option value="Bulgarian" selected disabled>Bulgarian</option>
                                <option value="English">English</option>
                            </select><!-- /# -->
                        </div><!-- /.select-icon -->
                        <div class="select-icon">
                            <img src="../src/assets/images/ico-user.svg" alt="">
                            <select name="nav-login" id="nav-login">
                                <option value="Account" disable hidden selected>Акаунт</option>
                                <option value="Log-in">Log in</option>
                                <option value="Register">Register</option>
                            </select><!-- /# -->
                        </div><!-- /.select-icon -->
                    </div><!-- /.header__bar-aside -->
                </div><!-- /.header__bar -->
                <div class="header__info">
                    <div class="header__feature">
                        <img src="../src/assets/images/ico-truck.svg" alt="">
                        <p>Безплатна <br>Доставка!</p>
                    </div><!-- /.header__feature -->

                    <div class="search header__search">
                        <form action="?" method="get">
                            <label for="q" class="hidden">Search</label>

                            <input type="search" name="q" id="q" value="" placeholder="Търсене" class="search__field">

                            <input type="submit" value="" class="search__btn">
                        </form>
                    </div><!-- /.search -->
                </div><!-- /.header__info -->
                <nav class="nav">
                    <ul>
                        <li class="has-submenu accordion accordion--mobile js-accordion">
                            <a href="#" class="accordion__trigger">
                                <img src="../src/assets/images/ico-dropdown.svg" alt="">

                                Категории
                            </a>

                            <div class="submenu accordion__content">
                                <div class="submenu__cols">
                                    <div class="submenu__col">
                                        <a href="#" class="btn btn--block">Виж всички</a><!-- /.btn-alt -->
                                        <div class="submenu__links accordion accordion--mobile js-accordion">
                                            <div class="submenu__title accordion__head">
                                                <h4>
                                                    <a href="#">
                                                        <img src="../src/assets/images/ico-aspirator.svg" alt="">
    
                                                        Аспиратори
                                                    </a>
                                                </h4>

                                                <a href="#" class="accordion__trigger"></a>
                                            </div><!-- /.submenu__title accordion__head -->

                                            <div class="submenu__content accordion__content">
                                                <ul>
                                                    <li>
                                                        <a href="#">Шумопонижаващи системи за аспиратори - Въздуховоди </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Downdraft аспиратори</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Аспиратори за вграждане</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Декоративни аспиратори (за стенен монтаж)</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Островни аспиратори</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Ретро аспиратори</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Традиционни аспиратори (под шкаф)</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Ъглови аспиратори</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div><!-- /.submenu__links accordion accordion--mobile js-accordion -->

                                        <div class="submenu__links accordion accordion--mobile js-accordion">
                                            <div class="submenu__title accordion__head">
                                                <h4>
                                                    <a href="#">
                                                        <img src="../src/assets/images/ico-washing-machine.svg" alt="">
    
                                                        Съдомиялни
                                                    </a>
                                                </h4>

                                                <a href="#" class="accordion__trigger"></a>
                                            </div><!-- /.submenu__title accordion__head -->
                                            
                                            <div class="submenu__content accordion__content">
                                                <ul>
                                                    <li>
                                                        <a href="#">Свободностоящи съдомиялни</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Съдомиялни за вграждане</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div><!-- /.submenu__links accordion accordion--mobile js-accordion -->
                                    </div><!-- /.submenu__col -->
                                    <div class="submenu__col">
                                        <div class="submenu__links accordion accordion--mobile js-accordion">
                                            <div class="submenu__title accordion__head">
                                                <h4>
                                                    <a href="#">
                                                        <img src="../src/assets/images/ico-fan.svg" alt="">
    
                                                        Плотове за вграждане
                                                    </a>
                                                </h4>

                                                <a href="#" class="accordion__trigger"></a>
                                            </div><!-- /.submenu__title accordion__head -->

                                            <div class="submenu__content accordion__content">
                                                <ul>
                                                    <li>
                                                        <a href="#">Газови плотове за вграждане</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Индукционни плотове</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Комбинирани плотове</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Ретро плотове</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Стъклокерамични плотове</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Ретро аспиратори</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Други</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div><!-- /.submenu__links accordion accordion--mobile js-accordion -->

                                        <div class="submenu__links accordion accordion--mobile js-accordion">
                                            <div class="submenu__title accordion__head">
                                                <h4>
                                                    <a href="#">
                                                        <img src="../src/assets/images/ico-washer.svg" alt="">
            
                                                        Перални и сушилни
                                                    </a>
                                                </h4>

                                                <a href="#" class="accordion__trigger"></a>
                                            </div><!-- /.submenu__title accordion__head -->

                                            <div class="submenu__content accordion__content">
                                                <ul>
                                                    <li>
                                                        <a href="#">Перални машини</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Перални със сушилни</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Сушилни машини</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div><!-- /.submenu__links accordion accordion--mobile js-accordion -->
                                    </div><!-- /.submenu__col -->
                                    <div class="submenu__col">
                                        <div class="submenu__links accordion accordion--mobile js-accordion">
                                            <div class="submenu__title accordion__head">
                                                <h4>
                                                    <a href="#">
                                                        <img src="../src/assets/images/ico-oven.svg" alt="">
            
                                                        Фурни за вграждане
                                                    </a>
                                                </h4>

                                                <a href="#" class="accordion__trigger"></a>
                                            </div><!-- /.submenu__title accordion__head -->

                                            <div class="submenu__content accordion__content">
                                                <ul>
                                                    <li>
                                                        <a href="#">Кафемашини за вграждане</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Микровълнови за вграждане</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Ретро фурни</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Свободностоящи микровълнови</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Фурни за вграждане на 60 см</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Фурни за вграждане на 90 см</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Фурни на пара</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Фурни с пиролиза</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div><!-- /.submenu__links accordion accordion--mobile js-accordion -->
                                    </div><!-- /.submenu__col -->
                                    <div class="submenu__col">
                                        <div class="submenu__links accordion accordion--mobile js-accordion">
                                            <div class="submenu__title accordion__head">
                                                <h4>
                                                    <a href="#">
                                                        <img src="../src/assets/images/ico-coffee.svg" alt="">
            
                                                        Дребна техника
                                                    </a>
                                                </h4>

                                                <a href="#" class="accordion__trigger"></a>
                                            </div><!-- /.submenu__title accordion__head -->

                                            <div class="submenu__content accordion__content">
                                                <ul>
                                                    <li>
                                                        <a href="#">Електрически кани</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Кафемашини</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Кухненски роботи</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Месомелачки</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Миксери</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Пасатори и блендери</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Прахосмукачки</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Сокоизтисквачки</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Тостери</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Хлебопекарни</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Ютии и парни станции</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div><!-- /.submenu__links accordion accordion--mobile js-accordion -->
                                    </div><!-- /.submenu__col -->
                                    <div class="submenu__col">
                                        <div class="submenu__links accordion accordion--mobile js-accordion">
                                            <div class="submenu__title accordion__head">
                                                <h4>
                                                    <a href="#">
                                                        <img src="../src/assets/images/ico-sink.svg" alt="">
            
                                                        Кухненски мивки
                                                    </a>
                                                </h4>

                                                <a href="#" class="accordion__trigger"></a>
                                            </div><!-- /.submenu__title accordion__head -->

                                            <div class="submenu__content accordion__content">
                                                <ul>
                                                    <li>
                                                        <a href="#">Иноксови мивки</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Композитни мивки ( гранитни мивки )</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Кухненски мелници за отпадъци - Хидро Диспозер </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Кухненски смесители</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div><!-- /.submenu__links accordion accordion--mobile js-accordion -->

                                        <div class="submenu__links accordion accordion--mobile js-accordion">
                                            <div class="submenu__title accordion__head">
                                                <h4>
                                                    <a href="#">
                                                        <img src="../src/assets/images/ico-fridge.svg" alt="">
            
                                                        Хладилници
                                                    </a>
                                                </h4>

                                                <a href="#" class="accordion__trigger"></a>
                                            </div><!-- /.submenu__title accordion__head -->

                                           <div class="submenu__content accordion__content">
                                                <ul>
                                                    <li>
                                                        <a href="#">Хладилник Side by Side</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Виноохладители</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Хладилници за вграждане</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Свободностоящи хладилници</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Фризери</a>
                                                    </li>
                                                </ul>
                                           </div>
                                        </div><!-- /.submenu__links accordion accordion--mobile js-accordion -->
                                    </div><!-- /.submenu__col -->
                                    <div class="submenu__col">
                                        <div class="submenu__links submenu__links--grid accordion accordion--mobile js-accordion">
                                            <div class="submenu__title accordion__head">
                                                <h4>
                                                    <a href="#">
                                                        <img src="../src/assets/images/ico-machine.svg" alt="">

                                                        Производители
                                                    </a>
                                                </h4>

                                                <a href="#" class="accordion__trigger"></a>
                                            </div><!-- /.submenu__title accordion__head -->

                                           <div class="submenu__content accordion__content">
                                                <ul>
                                                    <li>
                                                        <a href="#">
                                                            <img src="../src/assets/images/temp/logo-aeg@2x.png" alt="" width="82" height="25">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <img src="../src/assets/images/temp/logo-bosch@2x.png" alt="" width="80" height="25">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <img src="../src/assets/images/temp/logo-cata@2x.png" alt="" width="82" height="25">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <img src="../src/assets/images/temp/logo-edesa@2x.png" alt="" width="88" height="23">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <img src="../src/assets/images/temp/logo-eurolux@2x.png" alt="" width="80" height="28">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <img src="../src/assets/images/temp/logo-electrolux@2x.png" alt="" width="86" height="28">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <img src="../src/assets/images/temp/logo-elica@2x.png" alt="" width="78" height="26">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <img src="../src/assets/images/temp/logo-faber@2x.png" alt="" width="86" height="27">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <img src="../src/assets/images/temp/logo-gorenje@2x.png" alt="" width="78" height="28">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <img src="../src/assets/images/temp/logo-robot@2x.png" alt="" width="76" height="26">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <img src="../src/assets/images/temp/logo-hansf@2x.png" alt="" width="78" height="26">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <img src="../src/assets/images/temp/logo-leks@2x.png" alt="" width="66" height="25">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <img src="../src/assets/images/temp/logo-lino@2x.png" alt="" width="80" height="26">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <img src="../src/assets/images/temp/logo-pyramis@2x.png" alt="" width="74" height="26">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <img src="../src/assets/images/temp/logo-liebher@2x.png" alt="" width="78" height="28">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <img src="../src/assets/images/temp/logo-naber@2x.png" alt="" width="70" height="33">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <img src="../src/assets/images/temp/logo-status@2x.png" alt="" width="86" height="21">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <img src="../src/assets/images/temp/logo-teka@2x.png" alt="" width="51" height="32">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <img src="../src/assets/images/temp/logo-smeg@2x.png" alt="" width="74" height="26">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <img src="../src/assets/images/temp/logo-falmec@2x.png" alt="" width="60" height="20">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <img src="../src/assets/images/temp/logo-tesy@2x.png" alt="" width="60" height="30">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <img src="../src/assets/images/temp/logo-hansgrohe@2x.png" alt="" width="88" height="26">
                                                        </a>
                                                    </li>
                                                </ul>
                                           </div>
                                        </div><!-- /.submenu__links accordion accordion--mobile js-accordion -->
                                    </div><!-- /.submenu__col -->
                                </div><!-- /.submenu__cols -->
                            </div><!-- /.submenu -->
                        </li>
                        <li>
                            <a href="#">Специална оферта</a>
                        </li>
                        <li>
                            <a href="#">За Нас</a>
                        </li>
                        <li>
                            <a href="#">Новини</a>
                        </li>
                        <li>
                            <a href="#">Контакти</a>
                        </li>
                    </ul>
                </nav><!-- /.nav -->
            </div><!-- /.header__nav -->
        </div><!-- /.header__inner -->
    </div><!-- /.shell -->
</header><!-- /.header -->